.controls-box {
  .btn-lg{
    @include button-size(0px, 0px, 17px, 1, $border-radius-large);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-top: $s;
    padding-bottom: $s;
    &:first-child{
      margin-bottom: 20px;
      @media (min-width: $screen-md-min) {
        margin-bottom: 65px;
      }
    }
    .icomoon{
      font-size: 1.6em;
      margin-right: 20px;
    }
  }
}