.portfolio__caption {
  transition: opacity 0.35s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $s;
  .portfolio__item:hover &{
    background-color: rgba($gray-dark, 0.6);
    opacity: 1;
  }
  .touch & {
    opacity: 1;
    background-color: rgba($gray-dark, 0.6);
  }
}