.carousel_view_main {
  color: $gray-ultra;
  background-color: $gray-light;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.35s ease;
  margin-bottom: $g;
  @media (max-width: $screen-xs-max) {
    margin: -$g $g/-2 $g;
    .slick-arrow{
      display: none !important;
    }
  }
  @media (min-width: $screen-md-min) {
    margin-bottom: $l*2;
  }
  &.slick-initialized{
    height: auto;
    opacity: 1;
  }
  .slick-dots{
    margin-bottom: $l;
    top: auto;
    bottom: 0;
    li{
      border: 2px solid $gray-ultra;
      &.slick-active{
        background-color: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
  .carousel__item{
    position: relative;
    overflow: hidden;
    max-height: 420px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    &:before{
      padding-top: 56%;
      content: '';
      display: block;
      background-color: $gray-darker;
      opacity: 0.7;
    }
    @media (max-width: $screen-xs-max) {
      max-height: $screen-min;
      &:before{
        padding-top: 100%;
      }
    }
  }
  .carousel__inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    .btn-lg{
      padding-left: $g*2;
      padding-right: $g*2;
      @media (max-width: $screen-xs-max) {
        display: block;
        font-size: $font-size-small;
      }
    }
  }
  .carousel__caption{
    max-width: 495px;
    margin-left: $g*2;
    margin-right: $g*2;
    .dot{
      font-size: 3em;
      margin-left: -$g;
      @media (max-width: $screen-xs-max) {
        font-size: 1.6em;
        line-height: 1.2;
      }
    }
  }
}
.carousel_view_works{
  .carousel__inner{
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .carousel__caption{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: lighten($gray-base, 98%);
    padding: $grid-gutter-width;
    margin-top: 200px;
    @media (min-width: $screen-sm-min) {
      width: 50%;
      margin-top: 0;
      padding: $grid-gutter-width $grid-gutter-width *2;
    }
  }
  .carousel__title{
    font-weight: bold;
    color: $headings-color;
    font-size: $font-size-h6;
    margin-bottom: 0.7em;
    line-height: $headings-line-height;
  }
  &.slick-initialized{
    height: auto;
    opacity: 1;
  }
  .slick-dots{
    margin-bottom: $m;
    top: auto;
    bottom: 0;
    right: 0;
    @media (min-width: $screen-sm-min) {
      text-align: left !important;
      left: auto !important;
      width: 50%;
      padding: 0 $grid-gutter-width *2;
    }
    li{
      border: 2px solid lighten($gray-base, 91%);
      &.slick-active{
        background-color: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
  .slick-arrow{
     height: 200px;
     &:before{
       background-color: rgba(0, 0, 0, 0.2);
       text-indent: 0;
       position: absolute;
       top: 50%;
       left: 50%;
       margin: -0.7em;
       width: 1.4em;
       height: 1.4em;
       text-align: center;
       line-height: 1.4;
       vertical-align: middle;
     }
     @media (min-width: $screen-sm-min) {
       height: auto;
     }
   }
}