.btn_color {
  &_white{
    border-color: $gray-ultra;
    background: transparent;
    color: $gray-ultra !important;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &_red{
    border-color: $brand-primary;
    background: transparent;
    color: $brand-primary !important;
    &:hover {
      background: rgba($brand-primary, 0.1);
    }
  }
}