.footer__logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-primary;
  margin: 0 $grid-gutter-width/-2 $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  height: 130px;
  .fa-2x{font-size: 1.5em}
  .a, a{ color: $gray-ultra !important}
  @media (min-width: $screen-sm-min) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: $screen-lg-min) {
    .logo{
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      text-align: left;
      .icomoon{
        font-size: 32px;
        padding-right: $m;
      }
    }
  }
}