.logo{
  font-size: $font-size-extra;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.1;
  padding: $l $l*2;
  color: $gray-ultra !important;
  @media (min-width: $screen-sm-min) {font-size: $font-size-base}
  .fa, .icomoon{font-size: 1.5em}
  .header & {
    background-color: $brand-primary;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $screen-xs-max) {
      height: 80px;
      width: 140px;
      margin-top: -$navigation-height;
    }
    @media (min-width: $screen-lg-min) {
      margin-top: -$navigation-height;
      height: 140px;
    }
  }
  .footer & {
    font-size: $font-size-base;
    padding-left: 0;
    padding-right: 0;
  }
}

