.catalog-section {
  .row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    &:before, &:after{
      content: none;
    }
  }
  @media (max-width: $screen-xs-min) {
    .row__col_ex_12{
      width: 100% !important;
    }
  }
}