.benefits__image {
  color: $brand-primary;
  font-size: 80px;
  margin: $m auto $g;
  width: 85px;
  height: 85px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}