.benefits__image {
  color: $brand-primary;
  font-size: 60px;
  margin: $m auto $g;
  width: 65px;
  height: 65px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}