.quote__header {
  margin-bottom: $font-size-h2 * 0.75;
  width: 100%;
  .btn{
    margin-top: $s;
  }
  @media (max-width: $screen-sm-max) {
    h2, .h2{
      margin-bottom: $m;
    }
  }
  @media (min-width: $screen-md-min) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: $grid-gutter-width;
    width: 300px;
    h2, .h2{
      font-size: $font-size-h1;
    }
  }
}