.navigation__link {
  .a, a{color: inherit}
  @media (max-width: $screen-xs-max) {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    font-weight: bold;
    .navigation__dropdown &{font-weight: normal}
    .fa, .icomoon{
      cursor: pointer;
      font-size: $font-size-small;
      .open > &,
      .open > .navigation__title &{
        transform: rotate(-180deg);
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .a, a{
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.35s ease;
      position: relative;
      z-index: 100;
      &:hover{ border-bottom-color: rgba($gray-ultra, 0.3)}
      &:before{
        visibility: hidden;
        opacity: 0;
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -$s;
        margin-top: $s;
        line-height: 0;
        border: $m solid transparent;
        border-bottom-color: $gray-ultra;
        border-top: none;
        top: 100%;
        transition: all 0.35s ease 0.35s;
        .navigation__li:hover > & {
          opacity: 1;
          visibility: visible;
        }
        .navigation__dropdown & {
          content: none;
        }
      }
      .navigation__dropdown .navigation__list & {
        &:hover{ border-bottom-color: $link-color}
      }
    }
    .fa, .icomoon{display: none}
  }
}