@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  background: linear-gradient(to bottom, $background 0%,  darken($background, 10%) 100%);
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    //background: darken($background, 10%);
    //border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background: $color;
  }
}