.fixed__up {
  font-family: FontAwesome;
  cursor: pointer;
  margin: $x 0;
  margin-top: $g;
  margin-bottom: $grid-gutter-width / 2;
  width: $g;
  height: $g;
  background-color: $brand-primary;
  color: $gray-ultra;
  border-radius: $border-radius-small;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  &:before{content: "\f106"}
}