.nav-section__image {
  display: none;
  @media (min-width: $screen-md-min) {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    pointer-events: none;
    right: -$g;
    opacity: 0.5;
    &_icon{
      &_image{
        background-image: url('../../../../upload/pattern-image.png');
      }
      &_services{
        background-image: url('../../../../upload/pattern-services.png');
      }
      &_typography{
        background-image: url('../../../../upload/pattern-typography.png');
      }
      &_book{
        background-image: url('../../../../upload/pattern-book.png');
      }
    }
  }
}