.portfolio__item {
  display: block;
  position: relative;
  font-size: $font-size-large;
  &:hover:after{
    background-color: rgba($gray-dark, 0.6);
    opacity: 1;
  }
  &:after{
    transition: opacity 0.35s ease;
    opacity: 0;
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    .touch & {
      opacity: 1;
      background-color: rgba($gray-dark, 0.6);
    }
  }
  &, &:hover, &:focus, &:active{
    color: $gray-ultra;
  }
}