@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?y864pv');
  src:  url('#{$icomoon-font-path}/icomoon.eot?y864pv#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?y864pv') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?y864pv') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?y864pv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-step-1 {
  &:before {
    content: $icon-step-1;
  }
}
.icon-step-2 {
  &:before {
    content: $icon-step-2;
  }
}
.icon-step-3 {
  &:before {
    content: $icon-step-3;
  }
}
.icon-step-4 {
  &:before {
    content: $icon-step-4;
  }
}
.icon-step-5 {
  &:before {
    content: $icon-step-5;
  }
}
.icon-step-6 {
  &:before {
    content: $icon-step-6;
  }
}
.icon-step-7 {
  &:before {
    content: $icon-step-7;
  }
}
.icon-step-8 {
  &:before {
    content: $icon-step-8;
  }
}
.icon-aircraft {
  &:before {
    content: $icon-aircraft;
  }
}
.icon-arms {
  &:before {
    content: $icon-arms;
  }
}
.icon-booklet {
  &:before {
    content: $icon-booklet;
  }
}
.icon-medal {
  &:before {
    content: $icon-medal;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
  }
}
.icon-percent {
  &:before {
    content: $icon-percent;
  }
}
.icon-world {
  &:before {
    content: $icon-world;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator;
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}

