$icomoon-font-path: "fonts" !default;

$icon-step-3: "\e912";
$icon-step-1: "\e910";
$icon-step-2: "\e911";
$icon-step-4: "\e913";
$icon-step-5: "\e914";
$icon-step-6: "\e915";
$icon-step-7: "\e916";
$icon-step-8: "\e917";
$icon-aircraft: "\e909";
$icon-arms: "\e90a";
$icon-booklet: "\e90b";
$icon-medal: "\e90c";
$icon-monitor: "\e90d";
$icon-percent: "\e90e";
$icon-world: "\e90f";
$icon-angle-left: "\e907";
$icon-angle-right: "\e908";
$icon-book: "\e906";
$icon-angle-down: "\e904";
$icon-angle-up: "\e905";
$icon-calculator: "\e900";
$icon-map-marker: "\e901";
$icon-phone: "\e902";
$icon-search: "\e903";

