$icomoon-font-path: "fonts" !default;

$icon-aircraft: "\e909";
$icon-arms: "\e90a";
$icon-booklet: "\e90b";
$icon-medal: "\e90c";
$icon-monitor: "\e90d";
$icon-percent: "\e90e";
$icon-world: "\e90f";
$icon-angle-left: "\e907";
$icon-angle-right: "\e908";
$icon-book: "\e906";
$icon-angle-down: "\e904";
$icon-angle-up: "\e905";
$icon-calculator: "\e900";
$icon-map-marker: "\e901";
$icon-phone: "\e902";
$icon-search: "\e903";

